.teste {
    height: 100px;
    width: 100px;
    background-color: #ccc;
}

.margin-label-bottom {
    margin-bottom: 5px;
    display: block;
}

.agrupamento-input {
    margin-bottom: 15px;
}

.campo-descricao {
    height: 100px;
    max-height: 115px;
    overflow: auto;
    width: 100%;
}

.agrupar-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.componente-flex {
    width: 49%;
}

.selects {
    width: 500px;
}

div.componente-flex .ui-selectonemenu, div.componente-flex.ui-selectonemenu-label {
    width: 100%;
    text-align: center;
}

div.componente-flex .ui-selectonemenu,
div.componente-flex label.ui-selectonemenu-label {
    text-align: center;
}

.agrupar-opicional {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.campo-opcional .ui-widget-header,
.campo-opcional .ui-inputfield,
.campo-opcional .ui-widget-content .ui-inputfield {
    text-align: center;
    width: 160px;
}

.botoes-dialogo {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px auto 0px auto;
    overflow: auto;
}

body .ui-dialog .ui-dialog-content {
    padding-bottom: 20px;
}

.botao-cancelar span {
    background-color: rgba(186, 63, 63, 0.96);
    font-size: 18px
}

.botao-gravar span {
    background-color: rgba(59, 179, 85, 0.97);
    font-size: 18px
}

.botoes-dialogo .ui-button,
.botoes-dialogo .ui-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.botoes-dialogo .ui-button.ui-button-text-icon-left .ui-button-text {
    border-radius: 5px;
    width: 150px;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1.4rem;
}

body .ui-datatable .ui-datatable-data > tr > td,
body .ui-datatable thead th {
    text-align: center;
}

.tabela-campanhas .ui-button {
    background-color: rgba(0, 0, 0, 0);
}

.icone-remover .ui-button, .icone-remover .ui-button-text,
.icone-editar .ui-button, .icone-editar .ui-button-text,
.icone-detalhe .ui-button, .icone-detalhe .ui-button-text {
    border-radius: 5px;
}

.icone-remover .ui-button, .icone-remover .ui-button-text {
    background-color: #DF2E2E;
}

.icone-editar .ui-button, .icone-editar .ui-button-text {
    background-color: #59709e;
}

.icone-detalhe .ui-button, .icone-detalhe .ui-button-text {
    background-color: #DF711B;
}

.tabela-campanhas {
    margin-top: 30px;
}

.tabela-campanhas .ui-button {
    border: none;
}

.nova-campanha-filtro-ativas-inativas {
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.filtro-campanhas {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 340px;
}

.label-filtro {
    margin-right: 10px;
}

.botao-detalhe {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descricao-detalhe {
    max-height: 170px;
    overflow: auto;
}

.container-detalhe {
    max-width: 90vw;
    max-height: 75vh;
    overflow: auto;
}

.pesquisa-endereco {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #DF2E2E;
}

.centro-texto-input .ui-widget-header,
.centro-texto-input .ui-inputfield,
.centro-texto-input .ui-widget-content .ui-inputfield {
    text-align: center;
}

.cabecalho {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

#titulo-logo {
    font-size: 30px;
    font-weight: bolder;
    color: rgba(76, 93, 109, 0.9);
    font-style: italic;
}

body .btn-sair {
    border-radius: 10px;
    margin-right: 20px;
    height: 40px;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.info-rodape {
    margin-bottom: 5px;
    color: #666;
}

